.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    max-width: 1400px;
    padding: 0px 16px 0px 16px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: flex-start; */
    margin: auto;
    margin-top: 100px;

}

.allContent{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.headBar{
    width: 95%;
    /* border: 2px solid gray; */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.headText{
    font-size: 40px;
    font-weight: 800;
    color: green;
}
.searchBar{
    display: flex;
    gap: 10px;
}
.allStatus{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.cardCont{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header{
    width: 100%;
    border: 2px solid gray;
    font-size: 20px;
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
}

.card{
    background-color: gray;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 30px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card>h1{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: darkgreen;
    font-size: 20px;
    border: 2px solid darkgreen;
    border-radius: 5px;
    padding-left: 10px;
}



.card>p{
    font-size: 12px;
    color: goldenrod;
    border: 2px solid darkgreen;
    border-radius: 5px;
    padding: 10px 10px 10px 25px;
}


/* Add Task Style */
.hidden {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: rgba(5, 107, 0, 0.8);;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addForm{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 2fr 3fr;
    gap: 10px;
}

.addForm input{
    width: 100%;
    height: 30px;
}
.description{
    height: 200px;
    overflow-wrap: break-word;
    width: 100%;
}